<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>

        body, iframe, td, tr, table, tbody{
            margin: 0px;
            padding: 0px;
            border:4px;
            background-color: gray;
        }
        .test{
            min-width: 300px;
        }

    </style>
</head>
<body>
<table>
    <tr height="100px">
        <th width="22%">
            <iframe class="test" src="/sidebar" width="100%;" height="625px" style="overflow:hidden;" scrolling="no">
            </iframe>
        </th>
        <th width="78%">
            <iframe src="/accidentL" width="100%;" height="625px" style="overflow:hidden;" name="iframe_02" >
            </iframe>
        </th>
    </tr>

</table>

</body>
</html>
